.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sound-btn {
        padding: 0;
        border: none;
        cursor: pointer;
        background: transparent;
    }
}